USE [VideoUploadDb];
GO
CREATE TABLE [dbo].[VideoUpload](
	[id_video] INT IDENTITY(1,1) NOT NULL,
    [Guid] UNIQUEIDENTIFIER NOT NULL,
    [id_usuario] INT NOT NULL,

    [nome_arquivo_original] NVARCHAR(255) NOT NULL,
    [caminho_storage_original] NVARCHAR(500) NOT NULL,
    [caminho_zip_processado] NVARCHAR(500) NULL,

    [tamanho_bytes] BIGINT NOT NULL,
    [tipo_mime] NVARCHAR(100) NULL,

    [status] INT NOT NULL,

    [data_hora_upload] DATETIME2 NOT NULL,
    [data_hora_inicio_processamento] DATETIME2 NULL,
    [data_hora_fim_processamento] DATETIME2 NULL,

    [mensagem_erro] NVARCHAR(MAX) NULL,
    [tentativas_processamento] INT NOT NULL
 CONSTRAINT [PK_VideoUpload] PRIMARY KEY CLUSTERED 
(
	[id_video] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
